<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<body>
<form method="post">
    <div style="margin:40px;">
    <div class="form-group">
        <textarea type="input" id="text" name="text" cols="80" rows="15" style="font-family:verdana; font-size:24px;"></textarea>
    </div>
        <input type="checkbox" id="Zustimmung" name="Zustimmung" value="Zustimmung">
        <label for="Zustimmung" style="font-size:22px;"> Ich bestätige, dass LexiLinker keinerlei Gewähr für die generierten Texte übernimmt.</label><br>

    <div class="form-group">
        <button type="submit" class="btn" style="width:110px; border-radius: 12px; background-color:#E05E59;border:0px; font-family:verdana;font-size:350%;color:#FFFFFF;">Start</button>
    </div>
    </div>
</form>
<section class="overflow-x-auto">
    <div class="form-group" style="margin:40px;">
      <textarea name="text" cols="80" rows="20" style="font-family:verdana; font-size:24px;">{{result}}</textarea>
    </div>
</section>
</body>
</html>